default-font = 'Outer'

@font-face
  font-family 'Outer'
  src url('assets/fonts/Outer/Outer-Sans-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'Outer'
  src url('assets/fonts/Outer/Outer-Sans-Regular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'Outer'
  src url('assets/fonts/Outer/Outer-Sans-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'Outer'
  src url('assets/fonts/Outer/Outer-Sans-Bold.ttf') format('truetype')
  font-weight 900
  font-style normal

*
  margin 0
  font-family default-font
  font-size 0.9rem
  font-weight 300
  color white

html
  height 100%

h1 
  font-weight 900



  