default-font = 'Outer', sans-serif

@font-face
  font-family 'Outer'
  src url('assets/fonts/Roboto/outer-Sans-Light.ttf') format('truetype')
  font-weight lighter
  font-style normal

@font-face
  font-family 'Outer'
  src url('assets/fonts/Roboto/outer-Sans-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Outer'
  src url('assets/fonts/Roboto/outer-Sans-Medium.ttf') format('truetype')
  font-weight medium
  font-style normal

@font-face
  font-family 'Outer'
  src url('assets/fonts/Roboto/outer-Sans-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

*
  margin 0
  font-family default-font
  font-weight medium
  color white